.container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.login-div a{
    text-decoration: none;
    width: 120px;
    height: 20px;
    padding: 2px;
}
.login-div a:hover{
    background-color: rgb(243, 228, 228);
}

.login-div{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}